VITE_SUPABASE_URL=https://dsqxppyvkhknbkoifhnf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRzcXhwcHl2a2hrbmJrb2lmaG5mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyOTc0ODUsImV4cCI6MjA4Nzg3MzQ4NX0.asT4azWuFZrSMN4hGvDN4Ur63RUnRgOg79S-W0ec2J0
